body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

html, body {
    padding: 0;
    margin:0;
    font-family: "Noto sans", serif;
    font-size: 16px;
}
header{
    padding: 1.2rem;
    background-color: #d02f47;
    color: white;
    position: sticky;
    top: 0;
}
#nav{
    display: flex;
    flex-flow: row;
    justify-content: center;
    
}
nav a{
    font-family: "Noto sans", serif;
    font-size: 1.3rem;
    color: white;
    padding: 14px;
    padding-top: 1.5rem;
    padding-bottom: 1.2rem;
    text-decoration: none;
}
nav a:hover{
    background-color: #ad2537;
    transition: 0.75s;
}
nav a:not(:hover){
    transition: 0.25s;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    color: #2f60d0;
    font-size: 3rem;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 14px;
    text-align: center;
}

#woah{
    width: 20px;
    margin-top: 0px;
    padding-right: 6px;
}
#page-container{
    position:relative;
    min-height:100vh;
}
#sosse{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d02f47;
    height: 9rem;
    font-family: "Noto sans", serif;
    font-size:1.2rem;
    color: white;
}
#sosse{
    position:  absolute;
    bottom: 0;
    width: 100%;
}
#logo{
    align-self: center;
    width: 45px;
    padding-top: 15px;
    margin-bottom: 5px;
}
#container1{
    display: grid;
    grid-template-columns: 40% 60%;
    text-align: center;
    padding-left: 1.3rem;
    padding-right: 1.2rem;
    background-color: #e7ffff;
    font-family: "noto-sans", serif;
}
.regiwide{
    padding-left: 0;
    width: 79%;
}
.conttxt{
    align-self: center;
    font-size: 26px;
}
#container2{
    display: grid;
    grid-template-columns: 60% 40%;
    text-align: center;
    padding-left: 1.2rem;
    padding-right: 1.3rem;
    background-color: white;
    font-family: "noto-sans", serif;
}
#containertall{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #e7ffff;
}
#nosereverse{
    margin-top: 50px;
    height:73%;
    justify-self: center;
}
#regitall{
    padding: auto;
    width: 56%;
}
.kurgerbing{
    color: white;
    text-decoration: none;
}
@media (max-width: 564px){
    .conttxt{
        font-size: 16px;
    }
}
.txtcont{
    display: flex;
    flex-flow: wrap;
}
#FAQ-container{
    display: flex;
    flex-direction: column;
    padding: 35%;
    padding-top: 0;
    text-align: left;
    font-family: "Noto-sans", serif;
    font-size:19px;
}
.fråga{
    font-weight: bold;
}
.Trailer{
    padding-top: 5%;
    padding-left: 15%;
    padding-bottom: 0;
    width: 700px;
    height: 125px;
}
#game-container{
    display:flex;
    flex-direction: column;
    text-align: left;
    padding: 25%;
    padding-top: 0;
    justify-content: center;
}
.gdescription{
    padding-bottom: 15%;
    font-size: 19px;
}
.hknight{
    padding-top: 5%;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color: #2f60d0;
    align-self: center;
}